<!DOCTYPE html>
<html lang="en" >
<head>
  <!---<meta http-equiv="Refresh" content="5">--->
  <meta charset="UTF-8">
  <title>Notifications</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
  <div id='title'>Notifications</div>
</head>
<body>
<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>
<div style="margin:50px;">
{% for i in nos %}
<div class="Message Message--forange">
  <div class="Message-icon">
    <i class="fa fa-bell-o"></i>
  </div>
  <div class="Message-body">
    <p style="color:black">Order {{i[1]}} is ready for pickup for customer {{i[0]}}</p>
    <button class="Message-button" onclick="changeNotif(event)">Mark as Delivered</button>
  </div>
  <button class="Message-close js-messageClose" onclick="removeNotif(event)"><i class="fa fa-times"></i></button>
</div>
{% endfor %}
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'>
</script>
<script>
function closeMessage(el) {
  el.addClass('is-hidden');
}
$('.js-messageClose').on('click', function(e) {
  closeMessage($(this).closest('.Message'));
});
/*
$(document).ready(function() {
  setTimeout(function() {
    closeMessage($('#js-timer'));
  }, 5000);
});*/
function removeNotif(event) {
  var x=event.currentTarget;
  //alert(x);
  var t=x.parentNode.getElementsByClassName('Message-body')[0].children[0].innerHTML;
  //alert(t, t.charAt(6), t.charAt(t.length-2))
  var xmlHttp = new XMLHttpRequest;
  url="http://localhost:5000/?req=-1&cusid="+t.charAt(t.length-2)+ "&ordid="+ t.charAt(6);
  xmlHttp.open("GET", url, true);
  xmlHttp.send();
}
function changeNotif(event) {
  var x = event.target;
  var y=x.parentNode.parentNode;
  y.className=y.className.replace("Message--forange", "Message--green");
  for (var i = 0; i < y.childNodes.length; i++) {
    if (y.childNodes[i].className == "Message-icon") {
      y.getElementsByTagName('i')[0].className= y.getElementsByTagName('i')[0].className.replace("fa-bell-o", "fa-check");
      break;
    }
  }
  var temp=x.parentNode.getElementsByTagName("p")[0].innerHTML;
  //alert(temp);
  t1=temp.charAt(6);
  t2=temp.charAt(temp.length-1);
  x.parentNode.getElementsByTagName("p")[0].innerHTML="Order "+t1.toString(10)+" was delivered to customer "+t2.toString(10)+"!";
  x.parentNode.removeChild(x);
}
</script>
</body>
</html>
