<style>
	.stuff > ul,
	li,
	table,
	th,
	tr,
	td {
		background-color: #f5f5f5;
	}
</style>
<div style="background-color: #f5f5f5;" class="stuff">
	<div style="float: left">
		<ul
			class="nav nav-pills flex-column"
			style="width: 100%; position: relative; top:20px;"
		>
			<li class="nav-item">
				<a
					style="cursor: pointer"
					class="nav-link"
					ng-class="{active: $ctrl.show == 9999}"
					ng-click="$ctrl.show = 9999"
					>Favourites</a
				>
			</li>
			<li class="nav-item">
				<a
					style="cursor: pointer"
					class="nav-link"
					ng-class="{active: $ctrl.show == 0}"
					ng-click="$ctrl.show = 0"
					>{{ $ctrl.categories[0] }}</a
				>
			</li>

			<li
				class="nav-item"
				ng-repeat="c in $ctrl.categories"
				ng-if="!$first"
			>
				<a
					style="cursor: pointer"
					class="nav-link"
					ng-class="{active: $ctrl.show == $index}"
					ng-click="$ctrl.show = $index"
					>{{ c }}</a
				>
			</li>
		</ul>
	</div>

	<div style="float: left ; width: 80%;">
		<table class="table table-bordered" ng-show="$ctrl.show == 9999">
			<tr>
				<th colspan="2">Menu</th>
				<th>Price</th>
				<th style="width: 20%;">Take Away Charges</th>
				<th style="width: 20%;">{{ $ctrl.getTotalCount() }} items</th>
			</tr>
			<tr ng-repeat="item in $ctrl.favData">
				<td style="width: 120px;">
					<img
						ng-src="{{ $ctrl.formatImageName(item.name) }}.jpeg"
						style="height: 120px; width: 120px;"
					/>
				</td>
				<td>
					{{ item.name }}<br />
					<a
						href=""
						ng-click="$ctrl.removeFavouriteItem(item.name)"
						style="color:red"
					>
						Remove item
					</a>
				</td>
				<td>&#8377;{{ item.price }}</td>
				<td>&#8377;{{ item.take_away_charges }}</td>
				<td class="tdCenter">
					<a
						href=""
						ng-click="$ctrl.addItem(item.name,item.price,1,item.take_away_charges)"
					>
						Add Item <br />
					</a>
				</td>
			</tr>
		</table>

		<table
			class="table table-bordered"
			ng-repeat="c in $ctrl.data"
			ng-show="$ctrl.show == $index"
		>
			<tr>
				<th colspan="2">Menu</th>
				<th>Price</th>
				<th style="width: 20%;">Take Away Charges</th>
				<th style="width: 20%;">{{ $ctrl.getTotalCount() }} items</th>
			</tr>
			<tr ng-repeat="item in c">
				<td style="width: 120px;">
					<img
						ng-src="{{ $ctrl.formatImageName(item.name) }}.jpeg"
						style="height: 120px; width: 120px;"
					/>
				</td>
				<td>
					{{ item.name }}<br />
					<a
						href=""
						ng-click="$ctrl.sendFavouriteItem(item.name)"
						style="color:red"
					>
						Add to Favourites
					</a>
				</td>
				<td>&#8377;{{ item.price }}</td>
				<td>&#8377;{{ item.take_away_charges }}</td>
				<td class="tdCenter">
					<a
						href=""
						ng-click="$ctrl.addItem(item.name,item.price,1,item.take_away_charges)"
					>
						Add Item <br />
					</a>
				</td>
			</tr>
		</table>
	</div>
</div>

<button
	type="button"
	class="btn btn-primary btn-lg"
	style=" position: relative; margin: 0 auto; left: 50%;"
	ng-click="$ctrl.showConfirmOrderPage()"
>
	View order
</button>
