<div
	class="card text-center"
	style="position:relative; top: 100px; height: 250px;"
>
	<div class="card-header text-white bg-dark">
		Please select one of the below options:
	</div>
	<div class="card-body">
		<button
			type="button"
			class="btn btn-primary btn-lg"
			style="width: 30%"
			ng-click="$ctrl.dineIn()"
		>
			Dine-In
		</button>
		<br />
		<button
			type="button"
			class="btn btn-secondary btn-lg"
			style="position: relative; top:25px; width: 30%"
			ng-click="$ctrl.takeAway()"
		>
			Take Away
		</button>
	</div>
</div>
