<!DOCTYPE html>  
<html>  
<head>  
    <title>Add Employee</title>  
</head>  
<body>  
    <h2>Order Information</h2>   
    <form action = "/savedetails" method="post">  
    <table>  
        <tr><td>Order_id</td><td><input type="text" name="order_id"></td></tr>  
        <tr><td>Customer_id</td><td><input type="text" name="customer_id"></td></tr>  
        <tr><td>Takeaway</td><td><input type="text" name="take_away"></td></tr> 
        <tr><td>Time_in</td><td><input type="text" name="time_in"></td></tr>  
        <tr><td>Time_out</td><td><input type="text" name="time_out"></td></tr>
        <tr><td><input type="submit" value="Submit"></td></tr>  
    </table>  
    </form>  
</body>  
</html> 
